on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ '**' ]

# Set default permissions as read only.
permissions: read-all

name: Go
jobs:

  go-test:
    strategy:
      matrix:
        go-version: [1.23.x, 1.25.x]
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v5
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
    - name: Download Go dependencies
      env:
        GOPROXY: "https://proxy.golang.org"
      run: go mod download
    - name: Compile code
      run: go build .
  code-check:
    strategy:
      matrix:
        go-version: [1.25.x]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v5
    - name: Install Go
      uses: actions/setup-go@v5.4.0
      with:
        go-version: ${{ matrix.go-version }}
    - name: Download Go dependencies
      env:
        GOPROXY: "https://proxy.golang.org"
      run: go mod download
    - name: golint
      run: |
        go install golang.org/x/lint/golint@latest
        $(go env GOPATH)/bin/golint $(go list ./... | grep -v internal/unix)
    - name: staticcheck.io
      uses: dominikh/staticcheck-action@024238d2898c874f26d723e7d0ff4308c35589a2 # v1.4.0
      with:
        version: "2025.1"
        install-go: false
        cache-key: ${{ matrix.go }}
